* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

/* Styling the main area */

body {
    background-image: url(pexels-aleksandar-pasaric-1694000.jpg);
    background-size: 1700px auto;
    text-align: center;
    font-family: "Philosopher", sans-serif;;
    font-size: 15px;
    color: rgb(234, 219, 239);
}

h1 {
    margin-bottom: 32px;
    font-size: 60px;
}

h2 {
    font-size: 20px;
}

p {
    margin: 20px 0;
    font-size: 16px; 
}

form {
    margin-top: 30px;
}

#container {
    margin: 10px auto;
    width: 700px;
    border: 5px ridge rgb(230, 204, 240);
    border-radius: 40px;
}

.wrap {
    padding: 50px;
    border-radius: 40px;
    background-color: rgb(24, 16, 28);
}

label {
    text-align: left;
    width: 150px;
}

label,
input {
   padding: 20px;
   display: inline-block;
}

input {
    width: 300px;
    padding: 10px;
    background-color:rgb(42, 27, 48);
    color: rgb(234, 219, 239);
    border: none;
    border-radius: 2px;
}

input, 
button {
    font-family: inherit;
    font-size: inherit;
}

::placeholder {
    font-family: inherit;
    font-style: italic;
    color: rgb(202, 190, 207);
}

/* Adding some animation to the button */

@keyframes example {
    from {background-color:rgb(103, 82, 135)};
    to {background-color:rgb(74, 45, 114)};
  }

button {
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    margin: 20px 10px;
    width: 100px;
    padding: 5px;
    font-weight: 600;
    border-radius: 2px;
    cursor: pointer;
    background-color: rgb(71, 49, 80);
    border: 2px none;
    color:rgb(230, 204, 240);
}

button:hover {
    background-color: rgb(108, 78, 121);
    box-shadow: 0 2px 2px 0 rgba(231, 213, 213, 0.24);
}

#reset {
    margin: 10px 10px;
    width: 100px;
    padding: 5px;
    font-weight: 600;
    border-radius: 2px;
    cursor: pointer;
    background-color: rgb(71, 49, 80);
    border: 2px none;
    color: rgb(230, 204, 240);
}

#reset:hover {
    background-color: rgb(108, 78, 121);
    box-shadow: 0 2px 2px 0 rgba(231, 213, 213, 0.24);
}

/* Styling the reply box */

#replybox {
    padding: 20px;
    margin: 10px 70px;
    background-image: url(pexels-aleksandar-pasaric-1694000.jpg);
    background-size: 1700px auto;
    border-radius: 40px;
    border: 5px ridge rgb(230, 204, 240);
}

#reply {
    font-style: italic;
    font-size: 110%;
}